@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background-color: black;
    background-image: url("http://ccocot.co/alien.png");
    background-attachment: fixed;
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat;
    color: white;
  font-family: 'Press Start 2P', cursive; 
  font-size: 10px;
}

input{
  color:black;
}

textarea{
  color:black;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

input[type=file]{
  color:white;
}

.value-header{
  border-bottom-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.value{
  height:200px;
  overflow-y:scroll;
  width:100%;
  margin-bottom: 20px;
}


LeftFloatAds{
  left: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
}

/* Utility Classes */

/* Make element full width */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

/* Clear a float */
.u-cf {
  content: "";
  display: table;
  clear: both; }